@mixin transp-bg {
  background: rgba(255, 255, 255, 0.1);
  &.act {
	background: rgba(255, 255, 255, 0.2);
  }
}

@mixin shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

@mixin transp-bg_btn {
  @include transp-bg;
  transition: all .5s;
  &:hover {
	background: rgba(255, 255, 255, 0.4);
	color: #000;
  }
}

@mixin shadow_btn {
  @include shadow;
  transition: all .5s;
  &:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
  }
}

@import "animate";
@import "ngAnim";

.cursor {
  cursor: pointer;
}

body {
  margin: 0 0 100px 0;
  background-image: url('../img/bg.jpg');
  &:after {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-image: radial-gradient(
					rgba(0, 0, 0, 0.3),
					rgba(0, 0, 0, 0.7)
	);
	z-index: -1;
  }
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
  a {
	flex-grow: 1;
	&:link, &:visited {
	  color: #fff;
	  text-decoration: none;
	}
	div {
	  @include transp-bg_btn;
	  @include shadow_btn;
	  padding: 20px 0;
	  text-align: center;
	  cursor: pointer;
	  &.pulsing {
		animation: pulsenav 2s infinite alternate;
		-webkit-transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
	  }
	  h4 {
		margin-bottom: 0;
	  }
	}
  }
}

@keyframes pulsenav {
  0% {
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
	color: #fff;
  }
  50% {
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 200px 0 rgba(255, 255, 255, .5);
	color: #000;
  }
}

#hands {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  div {
	flex-grow: 1;
	@include transp-bg;
	@include shadow;
	color: #fff;
	margin: 20px 10px;
	padding: 10px 20px;
	img {
	  display: block;
	  margin: 0 auto -30px auto;
	}
  }
}

#config {
  @include transp-bg;
  @include shadow;
  color: #fff;
  margin: 20px;
  padding: 30px 20px;

  label {
	font-size: 1.3em;
	margin-left: 2em;
	margin-bottom: 0;
  }

  input {
	display: none;
  }

  div.ngrs-range-slider {
	background-color: transparent;
	border: none;
	box-shadow: none;
	.ngrs-runner {
	  height: 2em;
	  .ngrs-handle {
		width: 30px;
	  }
	  .ngrs-join {
		height: 1.5em;
		top: 25%;
		min-width: 70px;
		transition: all .2s;
		@include transp-bg;
		@include shadow;
	  }
	}
	.ngrs-value-max {
	  display: block !important;
	  right: inherit;
	  margin-top: -2em;
	  margin-left: 2em;
	  z-index: 1;
	  color: #fff;
	  font-size: 1.2em;
	}
  }

  button {
	@include transp-bg_btn;
	@include shadow_btn;
	display: block;
	width: 100%;
	border: 0;
	font-size: 1.5em;
  }
}

#game {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;

  aside.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	color: #fff;
	> div {
	  flex-grow: 1;
	  padding: 10px;
	  text-align: center;
	  &.timer {
		@include transp-bg;
		@include shadow;
	  }
	  &.butn {
		cursor: pointer;
		@include transp-bg_btn;
		@include shadow_btn;
	  }
	}
  }
  section {
	align-self: center;
	width: 100%;
	margin: 0 30px;
	article {
	  display: flex;
	  @include transp-bg;
	  @include shadow;
	  color: #fff;
	  aside {
		flex-grow: 1;
		width: 30%;
		text-align: center;
	  }
	  &.act {
		align-self: stretch;
	  }

	  &:nth-child(1) {
		display: none;
	  }
	  &:nth-child(2) {
		font-size: 2em;
		transform: rotateY(40deg);
	  }
	  &:nth-child(3) {
		font-size: 2.5em;
		transform: rotateY(20deg);
	  }
	  &:nth-child(4) {
		font-size: 3em;
	  }
	  &:nth-child(5) {
		font-size: 2.5em;
		transform: rotateY(20deg);
	  }
	  &:nth-child(6) {
		font-size: 2em;
		transform: rotateY(40deg);
	  }

	}
  }
  #pulse {
	font-size: 0;
	color: white;
	animation: pulsetxt 2s infinite alternate;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 150px);
	margin: 75px 0;
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	div {
	  position: absolute;
	  top: 50%;
	  left: 0;
	  width: 100%;
	  text-align: center;
	  transform: translate(0, -50%);
	}
  }
}

@keyframes pulsetxt {
  0% {
	color: white;
	font-size: 0;
	text-shadow: 0 0 0 #fff;
  }
  50% {
	color: black;
	font-size: 7em;
	text-shadow: 0 0 20px #fff;
  }
}
