
<div id="config" ng-show="!config.game">
	<label for="dauer">Blindstufen-Dauer</label>
	<input id="dauer" type="text" ng-model="config.dauer">
	<div range-slider min="dauer.min" max="dauer.max" step="{{ dauer.step }}" model-max="config.dauer" pin-handle="min"></div>

	<br>

	<label for="kleinste">Kleinste Chip-Stufe</label>
	<input id="kleinste" type="text" ng-model="config.kleinste">
	<div range-slider min="kleinste.min" max="kleinste.max" step="{{ kleinste.step }}" model-max="config.kleinste" pin-handle="min"></div>

	<br>

	<label for="multip">Erhöhungs-Multiplikator</label>
	<input id="multip" type="text" ng-model="config.multip">
	<div range-slider min="multip.min" max="multip.max" step="{{ multip.step }}" model-max="config.multip" pin-handle="min"></div>

	<br>

	<button ng-click="start()">Starten</button>
</div>

<div id="game" ng-show="config.game">
	<button ng-click="stop()">Stop</button>
</div>

<h1>{{ restzeit }}</h1>